#catalog-page {
    background-color: transparent;
    box-shadow: 0px 0px 40px 0px;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    height: auto;
    width: 900px;
}

#catalog-page>h1 {
    color: #fff;
    font-family: "Agency FB";
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
}

.allGames {
    opacity: 0.75;
    background-color: rgb(206, 193, 193);
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 95%;
    margin: 15px;
    overflow: hidden;
    width: 600px auto;
    min-height: 210px;
    height: auto;
}

.allGames-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

.allGames-info>img {
    margin-top: -10px;
    margin-right: 30px;
    border-radius: 30%;
    height: 140px;
    position: absolute;
    top: 40px;
    right: 50px;
    float: center;
    padding: 3px;
    width: 130px;
}

.allGames-info>h6 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.allGames-info>h2 {
    font-size: 20px;
    font-weight: 750;
    color: #161618;
}

.details-button {
    border-radius: 20px;
    background-color: #2f2f32;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 20px;
    position: absolute;
    bottom: 30px;
    text-align: left;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: auto;
    margin-left: 20px;
}
.details-button:hover{
    background: rgb(177, 220, 145);
    color: red;
}